name: kgiton_ble_sdk_example
description: Example app demonstrating kgiton_ble_sdk usage.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  kgiton_ble_sdk:
    git:
      url: https://github.com/kuldii/flutter-ble-sdk.git

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
